<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Payment and Fees</h2>
      <%= render 'payment_and_fees', payment_and_fees_api: @payment_and_fees_api %>
    </div>
    <div class="col">
      <h2>Discounts</h2>
      <%= render 'discount', total_discounts: @total_discounts %>
    </div>
    <div class="col">
      <h2>Tax</h2>
      <%= render 'tax', total_taxes: @total_taxes %>
    </div>
    <div class="col">
      <h2>Tips</h2>
      <%= render 'tips', total_tips: @total_tips %>
    </div>
    <div class="col">
      <h2>Refunds</h2>
      <%= render 'refunds', total_refunds: @total_refunds %>
    </div>
  </div>
</div>
