<html>
  <body>
    <h2>Orders:</h2>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Currency</th>
          <th>Employee ID</th>
          <th>Payment State</th>
          <th>Created Time</th>
          <th>Modified Time</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order|%>
          <tr>
            <td><%= order["id"] %></td>
            <td><%= order["currency"] %></td>
            <td><%= order["employee"]["id"] %></td>
            <td><%= order["paymentState"] %></td>
            <td><%= Time.at(order["createdTime"]/1000).strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= Time.at(order["modifiedTime"]/1000).strftime("%Y-%m-%d %H:%M:%S") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h2>Revenue:</h2>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Revenue</th>
        </tr>
      </thead>
      <tbody>
        <% @revenue_per_product.each do |product, revenue| %>
          <tr>
            <td><%= product %></td>
            <td><%= sprintf("%.2f", revenue) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @revenue_per_processor.present? %>
      <p>Total Revenue Per Processor: <%= @revenue_per_processor %></p>
    <% else %>
      <p>No Revenue Per Processor</p>
    <% end %>
    <br>
    <%= render 'line_items', line_items: @line_items %>
    <br>
    <%= render 'discount', total_discounts: @total_discounts %>
    <br>
    <%= render 'tips', total_tips: @total_tips %>
    <br>
    <%= render 'tax', total_taxes: @total_taxes %>
    <br>
    <%#= render 'refund', total_refunds: @total_refunds %>
    <%= render 'payment_and_fees', payment_and_fees_api: @payment_and_fees_api %>
  </body>
</html>
