<html>
  <body>
    <h2>Orders:</h2>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Currency</th>
          <th>Employee ID</th>
          <th>Payment State</th>
          <th>Created Time</th>
          <th>Modified Time</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order|%>
          <tr>
            <td><%= order["id"] %></td>
            <td><%= order["currency"] %></td>
            <td><%= order["employee"]["id"] %></td>
            <td><%= order["paymentState"] %></td>
            <td><%= Time.at(order["createdTime"]/1000).strftime("%Y-%m-%d %H:%M:%S") %></td>
            <td><%= Time.at(order["modifiedTime"]/1000).strftime("%Y-%m-%d %H:%M:%S") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% @revenue_per_product.each do |product_name, revenue| %>
      <p><%= product_name %>: <%= revenue %></p>
    <% end %>
    <%= render 'line_items', line_items: @line_items %>
    <%= render 'discount', total_discounts: @total_discounts %>
    <%= render 'tips', total_tips: @total_tips %>
    <%= render 'tax', total_taxes: @total_taxes %>
    <%= render 'refund', total_refunds: @total_refunds %>
    <%= render 'payment_and_fees', payment_and_fees_api: @payment_and_fees_api %>
  </body>
</html>
